<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.11.2-web\css\all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'applications.css' %}">
	
	
</head>
<body>
	<input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
    </header>
    <div class="sidebar">
      <center>
        {% if user.userprofileinfo.profile_pic %}
        <img src="{{ user.userprofileinfo.profile_pic.url }}" class="profile_image" alt="">
        {% else %}
        <i class="fas fa-user profile_image_default"></i>
        {% endif %}
        <h4>{{ user.username }}</h4>
      </center>
      <a href="{% url 'canddashboard' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="#" class="active"><i class="fas fa-briefcase"></i><span>Find Job</span></a>
      <a href="{% url 'candprofile' %}"><i class="fas fa-th"></i><span>Profile</span></a>
      <a href="www.google.com"><i class="fas fa-info-circle"></i><span>About</span></a>
      <!-- <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
      <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>

    <div class="content">
      <center>
        <h1>Jobs</h1>
      </center>
      <form action="{% url 'jobapply' %}" method="POST">
        {% csrf_token %}
      {% for job in jobs %}
      <div class="card">
        <p class="num">{{ forloop.counter }}. </p>
        <button name="job_id" value="{{ job.id }}">{{ job.job_name }}</button>
        <p>{{ job.recruiter.recruiterprofileinfo.Company_Name }}</p>
      </div>
      {% endfor %}
      </form>
    </div>

</body>
</html>