<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.11.2-web\css\all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard1.css' %}">
	
	
</head>
<body>
	<input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
    </header>
    <div class="sidebar">
      <center>
        <img src="{{ user.userprofileinfo.profile_pic.url }}" class="profile_image" alt="">
        <h4>{{ user.username }}</h4>
      </center>
      <a href="#" class="active"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="#"><i class="fas fa-briefcase"></i><span>Find Job</span></a>
      <a href="{% url 'candprofile' %}"><i class="fas fa-th"></i><span>Profile</span></a>
      <a href="www.google.com"><i class="fas fa-info-circle"></i><span>About</span></a>
      <!-- <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
      <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>

    <div class="content">
      <center>
        <h1>Dashboard</h1>
      </center>
      <p id="tablehead">Recently Posted Jobs</p>
      <table>
        <tr>
          <th><center>#</center></th>
          <th><center>Job Name</center></th>
          <th><center>Company</center></th>
          <th><center>Salary</center></th>
          <th><center>Experience</center></th>
          <th><center>Deadline</center></th>
        </tr>
        {% if jobs %}
        <form action="jobapply" method="POST">
          {% csrf_token %}
        {% for job in jobs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><button name="job_id" value="{{ job.id }}">{{ job.job_name }}</button></td>
          <td>{{ job.recruiter.recruiterprofileinfo.Company_Name}}</td>
          <td>{{ job.salary }}</td>
          <td>{{ job.experience }}</td>
          <td>{{ job.deadline }}</td>
        </tr>
        {% endfor %}
        </form>
        {% else %}
        <tr>
          <td>No job available yet!</td>
        </tr>
        {% endif %}
      </table>
    </div>

</body>
</html>