<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.11.2-web\css\all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
</head>
<body>
	<input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
    </header>
    <div class="sidebar">
      <center>
        {% if user.recruiterprofileinfo.profile_pic %}
        <img src="{{ user.recruiterprofileinfo.profile_pic.url }}" class="profile_image" alt="">
        {% else %}
        <i class="fas fa-user profile_image_default"></i>
        {% endif %}
        <h4>{{ user.username }}</h4>
      </center>
      <a href="{% url 'recdashboard' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="{% url 'postjob' %}" class="active"><i class="fas fa-briefcase"></i><span>Post Job</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Profile</span></a>
      <a href="www.google.com"><i class="fas fa-info-circle"></i><span>About</span></a>
      <!-- <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
      <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>

    <div class="content">
    	<center>
        	<img src="{{ user.recruiterprofileinfo.profile_pic.url }}" class="profile_image" alt="">
        </center>
    </div>
    <div class="info">
    	<center>
    		<h1 id="name">{{ user.first_name }} {{ user.last_name }}</h1>
    	</center>
    	<p class='username'><strong>Job Name: </strong>{{ job_name }}</p>
    	<p class='username'><strong>Job Description: </strong>{{ job_description }}</p>
    	<p class='username'><strong>Deadline: </strong>{{ deadline }}</p>
      <p class='username'><strong>Salary: </strong>{{ salary }}</p>
    </div>
</body>
</html>