<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.11.2-web\css\all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login1.css' %}">
</head>
<body>
	<div class="log">
		<div class="container">
		{% if messages %}
			<ul class='messages'>
				{% for message in messages %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
  					<strong>{{message}}</strong> 
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
  					</button>
					</div>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<!-- <button type="button" class="toggle-btn" onclick="login()">Log In</button> -->
				<button type="button" class="toggle-btn">Log In</button>
			</div>

		
		<form id="login" class="input-group" action="{% url 'user_login' %}" method='POST'>
			{% csrf_token %}
			<input type="hidden" name="iscand" value=False>
			<input type="text" class="input-field" placeholder="Username" name="Username" required>
			<input type="password" class="input-field" placeholder="Enter Password" name="Password" required>
			<!-- <input type="checkbox" class="check-box"><span>Remember Password</span>  -->
			<button type="submit" class="submit-btn">Log in</button>
		</form>
		</div>
	</div>
	<!-- <script >
		var x= document.getElementById("login");
		var y= document.getElementById("register");
		var z= document.getElementById("btn");
		register();
		function register() {
			x.style.left= "-400px";
			y.style.left= "50px";
			z.style.left= "110px";

			// body...
		}
		function login() {
			x.style.left= "50px";
			y.style.left= "450px";
			z.style.left= "0px";

			// body...
		}

	</script> -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>