<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Select Multiple</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist\css\bootstrap.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.11.2-web\css\all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'application.css' %}">
	
	
</head>
<body>
	<input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
    </header>
    <div class="sidebar">
      <center>
        {% if user.recruiterprofileinfo.profile_pic %}
        <img src="{{ user.recruiterprofileinfo.profile_pic.url }}" class="profile_image" alt="">
        {% else %}
        <i class="fas fa-user profile_image_default"></i>
        {% endif %}
        <h4>{{ user.username }}</h4>
      </center>
      <a href="{% url 'recdashboard' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="{% url 'postjob' %}" class="active"><i class="fas fa-briefcase"></i><span>Post Job</span></a>
      <a href="{% url 'recprofile' %}"><i class="fas fa-th"></i><span>Profile</span></a>
      <a href="www.google.com"><i class="fas fa-info-circle"></i><span>About</span></a>
      <!-- <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
      <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
    </div>

    <div class="content">
      <h1>abcd</h1>
      <center>
        <h1>Select Multiple</h1>
      </center>
      <form action="{% url 'selectmultipleusers' %}" method="POST">
        {% csrf_token %}
        {% for job in jobs %}
        <input type="hidden" name="job_id" value="{{ job.id }}">
        {% endfor %}
        <br>
        <h5 class="resume">Candidates: </h5>
        <input type="number" name="candidates" placeholder="Enter no. of candidates you want to select" class="forminput" required>
        <h5 class="resume">Interview Details: </h5>
        <p>
          <textarea rows="3" cols="80" class="forminput" placeholder="These details will be sent to all applicants via email" name="intdetail"></textarea>
        </p>
        <center>
        <button class="btn btn-success">Confirm</button>
        </center>
      </form>
    </div>

</body>
</html>